/* purgecss start ignore */
.main-wrapper {
  @apply bg-white min-h-screen relative;
  flex: 1 0 auto;
}

.blur-wrapper {
  & {
    filter: none;
    transition: filter $medium ease;
  }
  &.active {
    filter: blur(10px);
  }
}
/* purgecss end ignore */