/* purgecss start ignore */
.main-wrapper {
  @apply bg-white min-h-screen relative;
  flex: 1 0 auto;
}

.blur-wrapper {
  /* & {
    @apply bg-white;
    filter: none;
    opacity: 1;
    transition: opacity $medium ease;
  }
  &.active {
    filter: blur(10px);
    opacity: 0.25;
  }  */
}
/* purgecss end ignore */