{% extends "core/base.twig" %}

{% block main %}

  <section class="section header-offset fixed top-0 left-0 w-full">
    <div class="container">

      <div class="row justify-between">

        <div class="col lg:w-3/12 xl:w-2/12">

          <img src="{{ currentSite.baseUrl }}/dest/images/back-arrow.svg" alt="">

        </div>

      </div>

    </div>
  </section>

  <section class="section relative header-offset">
    <div class="container">

      <div class="row">
        <div class="col lg:w-4/12 lg:ml-3/12 xl:w-4/12 xl:ml-2/12">
          <p class="text-sm mb-4">contact</p>
          <p class="text-xl">
            Studio Hongjie Yang<br>
            info@hongjieyang.nl<br>
            +31(0)629055611
          </p>
        </div>
        <div class="col lg:w-4/12 xl:w-5/12">
          <p class="text-sm mb-4">Working At</p>
          <p class="mb-12">Internship available from August 2019.</p>
          <p class="text-sm mb-4">Social</p>
          <p class="mb-12">Instagram</p>
          <p class="text-sm mb-4">Collectors services</p>
          <p class="mb-40">We provide maintenance services to ensure the condition of your collections. (mirror finishing, patination, ect.), Please contact us for more information.</p>
          <p class="">
            Copyright © 2019 Studio Hongjie Yang. All rights reserved. Any unauthorised resale, distribution, public display or duplication of any image or idea is a violation of all applicable laws and is subject to prosecution.
          </p>
        </div>
      </div>

    </div>
  </section>

{% endblock %}
