{% extends "core/base.twig" %}

{% set headerBarbaBack = "true" %}

{% block main %}

  {% set articles = craft.entries().section("journalArticles").all() %}

  {# <section class="section blur-wrapper header-offset fixed top-0 left-0 w-full">
    <div class="container">

      <div class="row justify-between">

        <div class="col md:w-1/12 lg:w-3/12 xl:w-2/12 hidden md:block">
          <a onclick="history.back()" class="barba-back cursor-pointer pointer-events-auto">
            <img src="{{ currentSite.baseUrl }}/dest/images/back-arrow.svg" alt="">
          </a>
        </div>

      </div>

    </div>
  </section> #}

  <section class="section blur-wrapper relative header-offset">
    <div class="container">

      <div class="row">
        <div class="col md:w-7/12 md:ml-5/12 lg:w-8/12 lg:ml-2/12">

          {% for item in articles %}

            <div class="w-full mb-20">

              {% include "components/image.twig" with {
                image : item.journalFeaturedImage.one()
              } %}

              <div class="flex flex-wrap pt-4">
                <div class="w-full lg:w-7/12">
                  {{ item.featuredText }}
                </div>
                <div class="w-full lg:w-3/12 lg:ml-2/12 pt-4 lg:pt-0 opacity-25">
                  {{ item.details }}
                </div>
              </div>

              <div class="pt-4">
                <a class="underline" href="{{ item.url }}">more info</a>
              </div>
            </div>

          {% endfor %}

        </div>
      </div>

    </div>
  </section>

{% endblock %}
