<header class="section header-main header-unpin z-50">
  <div class="container">

    {% block header %}

      <div class="flex justify-between items-center" role="navigation">
        <div class="branding w-4/12">
          <a href="/">
            <span class="font-medium text-xl">Studio hongjie yang</span>
          </a>
        </div>

        <div class="burger toggle-menu relative z-50">
          <span></span>
          <span></span>
        </div>

        <div class="w-4/12 text-right">
          contact
        </div>
      </div>

    {% endblock %}

  </div>
</header>
